@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Stoke&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 2.8rem;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Stoke", serif;
}

h1 {
  margin: 0;
  word-spacing: 2.5px;
  font-size: 0.9rem;
  color: #d7ddfe;
}

h2 {
  font-size: 0.8rem;
  color: #d7ddfe;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.2em;
  background-image: linear-gradient(to left, #003c80, #4161a4, #968fff);
  -webkit-box-shadow: 0 2px 3px -1px gray;
  box-shadow: 0 2px 3px -1px gray;
}
header a {
  height: 60px;
}
header a img {
  height: 100%;
  max-height: 135px;
  max-width: 122px;
}

.heading {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 75%;
  text-align: center;
}

.heading > h1 {
  margin: 0.25em 0;
}

.heading > h2 {
  margin-bottom: 0.25em;
}

main {
  max-width: 1800px;
  margin: 0 auto;
}

main h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0.5em auto;
  text-align: center;
  letter-spacing: 1.6px;
  color: #4f42ff;
  text-shadow: -2px 2px 0 #d7ddfe;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0;
  background-image: linear-gradient(to left, #003c80, #4161a4, #968fff);
  text-align: center;
  color: white;
}

.reachus h2 {
  color: white;
  margin-bottom: 0.15em;
}

.connect {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.connect > * {
  margin: 0 auto;
}
.connect a {
  text-decoration: none;
  font-size: 1.1rem;
}
.connect .fb {
  color: #0049e6;
}
.connect .fb:hover,
.connect .fb:focus {
  color: #0041cc;
}
.connect .in {
  color: #2dc7d2;
}
.connect .in:hover,
.connect .in:focus {
  color: #28b3bd;
}

.ext-links {
  list-style-type: none;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  white-space: nowrap;
}
.ext-links a {
  text-decoration: none;
  color: white;
  font-size: 1.05rem;
}
.ext-links a:hover, .ext-links a:focus {
  text-decoration: underline;
}

fieldset {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-color: #0053b3;
  border-width: 3px;
  text-align: left;
  padding-left: 1em;
}

legend {
  padding: 0em 0.25em;
}
legend h2 {
  font-size: 0.95rem;
}

.form > * {
  font-size: 0.95rem;
  margin-top: 1em;
}

.form label {
  display: inline-block;
  width: 50px;
}

.form input,
.form textarea {
  width: 250px;
  padding: 0.5em;
  border-style: hidden;
}

textarea {
  resize: none;
  vertical-align: baseline;
}

.form button {
  cursor: pointer;
  padding: 0.5em 1.5em;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid #0053b3;
  color: #0053b3;
  background-color: #e6e6e6;
}
.form button:hover, .form button:focus {
  background-color: white;
}

@media (min-width: 32.5em) {
  h1 {
    font-size: 1.375rem;
    word-spacing: 5px;
  }

  h2,
legend h2 {
    font-size: 1.25rem;
  }

  header {
    padding: 0.5em 1.5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .connect a {
    font-size: 1.575rem;
  }
}
@media (min-width: 47.5em) {
  h1 {
    font-size: 1.65rem;
  }

  h2,
legend h2 {
    font-size: 1.55rem;
  }

  header {
    position: static;
  }
  header a {
    height: auto;
  }

  .heading {
    max-width: 60%;
  }
  .heading h1 {
    margin: 0 0 0.25em;
  }
  .heading h2 {
    margin: 0.25em 0 0;
  }

  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .connect a {
    font-size: 1.85rem;
  }
}
main {
  padding: calc(1em + 15px);
}
main div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  border: 2px solid #003066;
  box-shadow: 15px 15px #003066;
}
main div + div {
  margin-top: 2em;
}
main div h1 {
  letter-spacing: 1.6px;
}
main div a {
  color: currentColor;
  text-decoration: none;
}
main div a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=memoriesStyle.css.map */
