@use './general' as g;
// Hamburger container styling and hamburger hover styling.
.ham {
    position: fixed;
    top: 0.9rem;
    right: 0.75rem;
    z-index: 20;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 0;
    background-color: g.$navBG;
    cursor: pointer;
    &:hover {
        transform: rotate(135deg);
        transition: transform 1s;
        .bars {
            border-radius: 50px;
        }
        .bars::before {
            border-radius: 50px;
            transform: rotate(30deg) translate(8px);
            width: 15px;
            height: 2.5px;
        }
        .bars::after {
            border-radius: 50px;
            transform: rotate(150deg) translate(-8px);
            width: 15px;
            height: 2.5px;
        }
    }
}

// Creating Hamburger
.bars {
    display: block;
    position: relative;
    margin: 0 auto;
}

.bars,
.bars::before,
.bars::after {
    width: 20px;
    height: 4px;
    background-color: g.$linkColor;
    transition: all 0.5s;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.bars::before {
    bottom: 8px;
}

.bars::after {
    top: 8px;
}

// After click hamburger styling.
.reverse,
.reverse.ham:focus {
    background-color: white;
    transform: rotate(-45deg);
    transition: transform 1s;
    .bars {
        border-radius: 50px;
    }
    .bars::before {
        border-radius: 50px;
        transform: rotate(30deg) translate(8px);
        width: 15px;
        height: 2.5px;
    }
    .bars::after {
        border-radius: 50px;
        transform: rotate(150deg) translate(-8px);
        width: 15px;
        height: 2.5px;
    }
}

// @media (min-width: 32.5em) {
//     .ham {
//         top: 5.25rem;
//         right: 2.15rem;
//     }
// }
@media (min-width: 47.5em) {
    .ham {
        display: none;
    }
}

// Problem:
// 1. Links in navbar are focussable when navbar is closed. When navbar is opened, links outside the navbar are focussable (but it doesn't matter on smaller screens).