@keyframes image-fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.gallery {
    position: relative;
    z-index: -99;
    &>* {
        border-radius: 10px;
        display: none;
        width: 100%;
        animation: image-fade 6s linear forwards;
        // Keep animation time >= setinterval time.
    }
}

// @media (min-width: 32.5em) {
//     .gallery {
//         grid-template-columns: minmax(auto, 700px);
//         grid-template-rows: 450px;
//     }
// }
// @media (min-width: 47.5em) {
//     .gallery {
//         margin-top: 1.5em;
//         grid-template-columns: minmax(auto, 1000px);
//         grid-template-rows: 600px;
//     }
// }