@keyframes image-fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.gallery {
    position: relative;
    z-index: -99;
    margin-top: 1.5em;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(auto, 450px);
    grid-template-rows: 300px;
    justify-content: center;
    &>* {
        display: none;
        animation: image-fade 6s linear forwards;
        // Keep animation time >= setinterval time.
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 32.5em) {
    .gallery {
        grid-template-columns: minmax(auto, 700px);
        grid-template-rows: 450px;
    }
}

@media (min-width: 47.5em) {
    .gallery {
        grid-template-columns: minmax(auto, 1000px);
        grid-template-rows: 600px;
    }
}