// sass --watch --style compressed scss/compsStyle.scss:css/compsStyle.css
@use './general/' as g;
@use './hamburger';
@use './nav';
.rules {
    width: max-content;
    margin-left: auto;
    background-image: g.$headBG-sm;
    background-size: 225%;
    background-position: right;
    padding: 0.75em 2em;
    border-bottom-left-radius: 20px;
    a {
        color: g.$linkBackground;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.container {
    margin: 1em 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-content: center;
    h3 {
        color: g.$linkColor;
        padding: 0.25em 0.5em;
        background-color: lighten(g.$navBG, 16%);
    }
    ul {
        list-style-type: none;
    }
    li {
        padding: 0.25em;
        background-color: lighten(g.$navBG, 20%);
        color: g.$linkColor;
    }
}

.accordian {
    border: 2px solid g.$navBG;
}

.category {
    background-color: lighten(g.$navBG, 20%);
    overflow-y: hidden;
    &+& {
        border-top: 2px solid g.$navBG;
    }
    h3 {
        background-color: g.$navBG;
        text-shadow: -1px 1px 2px g.$heading;
        cursor: pointer;
        border-bottom: 2px solid darken(g.$navBG, 10%);
    }
    ul {
        max-height: 0;
        transition: max-height 300ms cubic-bezier(.94, .24, 1, 1.5);
    }
    li+li {
        border-top: 1px solid currentColor;
    }
    li:hover {
        background-color: lighten(g.$navBG, 16%);
    }
}

.category ul.active {
    max-height: 550px; // any random enough bigger value.
}

.aside .recent-news {
    height: 300px;
}

.aside .contact-form {
    background-color: lighten(g.$navBG, 20%);
    text-align: center;
    color: g.$linkColor;
    min-width: max-content;
    h3 {
        text-align: left;
    }
    p {
        padding-left: 0.25em;
        margin: 0.5em auto;
    }
    a {
        display: inline-block;
        border: 1px solid currentColor;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    a:hover,
    a:focus {
        color: lighten(g.$navBG, 20%);
        background-color: g.$linkColor;
    }
}

@media (min-width: 47.5em) {
    .rules {
        background-image: none;
        background-color: g.$navBG;
        a {
            color: g.$linkColor;
            font-size: large;
        }
    }
    .container {
        margin-left: 6em;
        margin-right: 6em;
        grid-template-columns: minmax(max-content, 650px) minmax(auto, 450px);
        align-items: start;
        justify-content: space-around;
    }
}