// sass --watch scss/memoriesStyle.scss:css/memoriesStyle.css
@use './general' as g;
main {
    padding: calc(1em + 15px); // 1em + box-shadow offset.
    div {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2em;
        border: 2px solid g.$linkColor;
        box-shadow: 15px 15px g.$linkColor;
        &+div {
            margin-top: 2em;
        }
        h1 {
            letter-spacing: 1.6px;
        }
        a {
            color: currentColor;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}