// sass --watch scss/memoriesStyle.scss:css/memoriesStyle.css
@use './headerFooter';
@use './general' as g;
main {
    padding: calc(1em + 15px); // 1em + box-shadow offset.
    div {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2em;
        word-break: break-all;
        border: 2px solid g.$linkColor;
        position: relative;
        &+div {
            margin-top: 2em;
        }
        h1 {
            letter-spacing: 1.6px;
            text-shadow: -2px 2px 0 g.$headBG-sm;
            margin-bottom: 0.5em;
        }
    }
    div::after {
        content: '';
        position: absolute;
        pointer-events: none;
    }
    div::after {
        bottom: 0px;
        right: 0px;
        box-shadow: 15px 15px g.$linkColor;
        width: 100%;
        height: 100%;
    }
}