// sass --watch --style compressed scss/style.scss:css/style.css
@use './general/' as g;
@use './hamburger';
@use './nav';
@use './image-slide';
.centre-section {
    padding: 0 1em 1em;
    .gallery {
        width: clamp(325px, 70vw, 700px);
        margin: 1em auto 1em;
    }
    .aboutHall h1 {
        width: auto;
        font-size: 1.8rem;
        &::before {
            content: open-quote;
            font-size: larger;
        }
        &::after {
            content: close-quote;
            font-size: larger;
        }
    }
    // .aboutHall p{}
}

.message-container {
    background-color: hsl(220, 35%, 52%);
    padding: 0.1px 1em 2em; // 0.1px top padding is given to prevent margin collapsing
    position: relative;
    z-index: 1;
    overflow-x: clip;
    h1 {
        font-size: clamp(1.5rem, 3vw, 1.8rem);
        color: white;
        text-shadow: -1px 1px 2px g.$heading;
    }
}

.message-container::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.5em;
    z-index: -1;
    width: 100%;
    height: 5em;
    background-image: linear-gradient(to bottom, hsl(220, 35%, 52%) 50%, hsla(0, 100%, 100%, 0));
    pointer-events: none;
}

.message {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 330px));
    justify-content: center;
    gap: 1em;
}

.card {
    // box-shadow: 2px 2px 5px -1px hsl(220, 35%, 52%);
    background-color: white;
    text-align: center;
    border-radius: 6px;
    transition: transform 400ms;
    overflow: hidden;
    img {
        object-fit: cover;
        object-position: center;
    }
    &:hover {
        transform: scale(1.01);
    }
}

.card-content {
    h2 {
        word-spacing: 2px;
        font-size: g.$H2size--lg;
        margin-bottom: 0.25em;
        color: hsl(220, 50%, 35%);
    }
    h3 {
        color: hsl(220, 50%, 40%);
        font-size: 1.25rem;
        margin-bottom: 0.25em;
    }
    h4 {
        color: hsl(220, 50%, 52%);
        font-size: 0.95rem;
        word-spacing: 1.6px;
        margin-bottom: 0.25em;
    }
    p {
        color: hsl(220, 50%, 50%);
        font-size: 0.95rem;
        line-height: 1.4;
        margin-bottom: 0.5em;
    }
}

.icons>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25em;
    li {
        background-color: rgba(gray, 0.25);
        a {
            display: block;
            padding: 0.5em 1.5em;
        }
    }
}

@media (min-width: 47.5em) {
    .centre-section {
        display: grid;
        grid-template-columns: minmax(auto, 4fr) minmax(auto, 3fr); // possible grid-division: 2:1, 3:2, 4:3, 5:4, 6:5
        column-gap: 1em;
        justify-content: center;
        .gallery {
            width: clamp(355px, 70vw, 100% - 1em); // subtract the space for gap
            margin-left: 1em;
        }
        .aboutHall {
            align-self: center;
            h1 {
                font-size: 2rem;
            }
        }
    }
    .message {
        position: relative;
        grid-auto-columns: 720px;
        grid-template-columns: 720px;
        grid-auto-flow: column;
        justify-content: start;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .message {
        scrollbar-width: none; // For Firefox only
    }
    .message {
        -ms-overflow-style: none; // For IE and edge
    }
    // For Webkit based browser, e.g. Edge, Chrome, Safari, all browsers on iOS, etc.
    .message::-webkit-scrollbar {
        display: none;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5em;
        align-items: end;
        text-align: left;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .icons>ul {
        gap: 0.5em;
    }
}

// .slide-left,
// .slide-right {
//     all: unset;
//     position: absolute;
//     z-index: 1;
//     padding: 10px 20px;
//     font-size: 3rem;
//     color: hsl(220, 50%, 35%);
//     cursor: pointer;
//     top: 53%;
//     height: 20%;
//     transform: translateY(-50%);
// }
// .slide-left {
//     background-image: linear-gradient(to left, hsl(0, 100%, 100%, 0.45), hsl(0, 100%, 100%, 0.9));
//     border-radius: 0 10px 10px 0;
//     display: inline-block;
//     visibility: hidden;
//     left: 0;
// }
// .slide-right {
//     background-image: linear-gradient(to right, hsl(0, 100%, 100%, 0.45), hsl(0, 100%, 100%, 0.9));
//     border-radius: 10px 0 0 10px;
//     display: inline-block;
//     right: 0;
// }