// sass --watch scss/style.scss:css/style.css
@use './headerFooter';
@use './image-slide';
@use './general/' as g;
.message {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 330px));
    justify-content: center;
    gap: 1em;
    margin: 0 0.5em 2em;
}

.card {
    box-shadow: 2px 2px 5px -1px gray;
    text-align: center;
    border-radius: 6px;
    transition: transform 400ms;
    overflow: hidden;
    img {
        object-fit: cover;
        object-position: center;
    }
    &:hover {
        transform: scale(1.01);
    }
}

.card-content {
    h2 {
        word-spacing: 2px;
        font-size: g.$H2size--lg;
        margin-bottom: 0.25em;
    }
    h3 {
        color: lightseagreen;
        font-size: g.$H2size--md;
        margin-bottom: 0.25em;
    }
    h4 {
        font-size: g.$H2size--sm;
        word-spacing: 1.6px;
        margin-bottom: 0.25em;
    }
    p {
        font-size: 0.95rem;
        line-height: 1.4;
        margin-bottom: 0.5em;
    }
}

.icons>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25em;
    li {
        background-color: rgba(gray, 0.25);
        a {
            display: block;
            padding: 0.5em 1.5em;
        }
    }
}

@media (min-width: 36.5em) {
    .message {
        grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5em;
        align-items: end;
        text-align: left;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .icons>ul {
        gap: 0.5em;
    }
}