@use './variables' as v;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 2.8rem; // not dynamic (e.g. test it on mobiles)
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Stoke', serif;
}

h1 {
    margin: 0;
    word-spacing: v.$headingWordSpace--sm;
    font-size: v.$H1size--sm;
    color: v.$heading;
}

h2 {
    font-size: v.$H2size--sm;
    color: v.$heading;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.2em;
    background-image: v.$headBG-sm;
    -webkit-box-shadow: 0 2px 3px -1px v.$linkColor;
    box-shadow: 0 2px 3px -1px v.$linkColor;
    a {
        height: 60px;
        img {
            // width: 100%;
            height: 100%;
            max-height: 135px;
            max-width: 135px;
        }
    }
}

.heading {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 72.5%;
    text-align: center;
}

.heading>h1 {
    margin: 0.25em 0;
}

.heading>h2 {
    margin-bottom: 0.25em;
}

// Main body
main {
    max-width: 1800px;
    margin: 0 auto;
}

main h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.5em auto;
    text-align: center;
    letter-spacing: 1.6px;
    color: darken(v.$navBG, 15%);
    text-shadow: -2px 2px 0 v.$heading;
}

// Footer
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1em 0;
    background-image: v.$headBG-sm;
    text-align: center;
    color: white;
}

.reachus h2 {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    color: white;
    margin-bottom: 0.15em;
}

.connect {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &>* {
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        font-size: 1.8rem;
    }
    .fb {
        color: hsl(221, 100%, 45%);
    }
    .fb:hover,
    .fb:focus {
        color: darken($color: hsl(221, 100%, 45%), $amount: 5%);
    }
    .in {
        color: hsl(184, 65%, 50%);
    }
    .in:hover,
    .in:focus {
        color: darken($color: hsl(184, 65%, 50%), $amount: 5%);
    }
}

.ext-links {
    list-style-type: none;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    white-space: nowrap;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.05rem;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

fieldset {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-color: v.$navLinkOutline;
    border-width: 3px;
    text-align: left;
    padding-left: 1em;
}

legend {
    padding: 0em 0.25em;
    h2 {
        font-size: 1rem;
    }
}

.form>* {
    font-size: 0.9rem;
    margin-top: 1em;
}

.form label {
    display: inline-block;
    width: 50px;
}

.form input,
.form textarea {
    width: 250px;
    padding: 0.5em;
    border-style: hidden;
}

textarea {
    resize: none;
    vertical-align: baseline;
}

.form button {
    cursor: pointer;
    padding: 0.5em 1.5em;
    font-weight: bold;
    border-radius: 0;
    border: 2px solid v.$navLinkOutline;
    color: v.$navLinkOutline;
    background-color: darken(white, 10%);
    &:hover,
    &:focus {
        background-color: v.$linkBackground;
    }
}

.copy {
    width: 90vw;
}

@media (min-width: 32.5em) {
    h1 {
        font-size: v.$H1size--md;
        word-spacing: v.$headingWordSpace--md;
    }
    h2,
    legend h2 {
        font-size: v.$H2size--md;
    }
    header {
        padding: 0.5em 1.5em;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (min-width: 47.5em) {
    h1 {
        font-size: v.$H1size--lg;
    }
    h2,
    legend h2 {
        font-size: v.$H2size--lg;
    }
    header {
        position: static;
        a {
            height: auto;
        }
    }
    .heading {
        max-width: 60%;
        h1 {
            margin: 0 0 0.25em;
        }
        h2 {
            margin: 0.25em 0 0;
        }
    }
}