$heading: hsl(0, 0%, 0%);
$headBG-sm: hsl(171, 71%, 73%);
$headBG-lg: hsla(171, 71%, 73%, 0.7);
$linkColor: hsla(174, 93%, 17%, 0.7);
$linkBackground: hsl(147, 47%, 93%);
$navLinkOutline: hsl(174, 93%, 17%);
$H1size--sm: 1.15rem; // 1.45rem
$H1size--md: 1.7rem; // 1.8rem
$H1size--lg: 2rem;
$H2size--sm: 1rem; // 1.15rem
$H2size--md: 1.35rem;
$H2size--lg: 1.75rem;
$headingWordSpace--sm: 2.5px;
$headingWordSpace--md: 5px;